@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

body {
  margin: 0;
  background-color: #fff;
  color: #0290ff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
}

header {
  position: relative;
  width: calc(100% - 14rem);
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1rem 7rem;
  border-bottom: 0.125rem solid #e8e8e8;

  nav {
    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      color: #121212;
    }
  }

  span {
    position: absolute;
    right: 7rem;
    border: 0.125rem solid #e8e8e8;
    width: 2.813rem;
    height: 2.813rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}

main {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;

  ul {
    height: 80%;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 5px;

    li {
      width: 71rem;
      height: auto;
      padding: 1rem 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #fff;
      border: 0.125rem solid #e8e8e8;
      border-radius: 4px;

      div {
        h2 {
          font-family: 'Roboto Slab', serif;
          font-weight: 700;
        }

        p {
          text-transform: capitalize;

          &.category {
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
          }
        }
      }
    }
  }

  form {
    height: 16%;
    width: 75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border-top: 0.125rem solid #e8e8e8;
  }
}
