body {
  margin: 0;
  background-color: #222;
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  width: calc(100% - 4rem);
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1rem 2rem;
  
  nav {
    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
      color: aliceblue;
    }
  }
}

main {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    height: 80%;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: #333;
    border-radius: 5px;

    li {
      width: 80%;
      height: auto;
      padding: 1rem 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #222;
    }
  }

  form {
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
}